/*****Home layout *****/
.tracker, .savingPots, .Reports, .Tips{
 
  text-align: center;
  display:  inline-flex;
  width: 45%;
  margin-left: 5%;
  margin-top: 2%;

}

img {
  width: 90%;
  height: 90%;
  border-radius:10px;
}

.featuresTitle {
  color: #F1FAEE;
  text-align: center;
  text-decoration-line: underline;
}

.contactRouteLink{
  width: 50%;
  margin-top: 3%;
  margin-left: 40%;
}
.imglogo{
  margin-top: 1.5%;
  height: 90%;
  width: 30%;
}

.logo{
  display:  inline-flex;
  background-color:  #1D3557;
  width: 100%;
  height: 30%;
 
}

.loginRouteLink{
  margin-top: 20%;
  margin-left:40% ;
  width: 50%;
  padding: 3%;
  border-radius: 30px;

}

.regRouteLink{
  margin-top: 3%;
  margin-left:40% ;
  width: 50%;
  padding: 3%;
  border-radius: 30px;

}

.logoSlogan{
  padding-top: 10%;
  margin-left: 2%;
  font-size: 200%;
}


.home_btn {
  background-color: #457B9D;
  color: white;
  padding: 20px 50px ;
  text-decoration: none;
  border-radius: 10px;
}

.home_btn1 {
  background-color: #457B9D;
  color: white;
  padding: 20px 60px ;
  text-decoration: none;
  border-radius: 10px;
}


.home_btn:hover , .home_btn1:hover{
  background-color:#E63946 ;
}

p{
  color: #F1FAEE;
}

.homeIcons{
  margin-top: 15%;
  margin-left: 48%;
  width: 50%;
  font-size: 250%;
  color: #457B9D;
}

.icons:hover{
  color: #E63946;
}
