.rightContainer{
    display: flex;
    flex-direction: column;
}

.loginForm{
display: flex;
align-items: center;
justify-content: center;
background-color: rgba(168, 218, 220,.2);
margin-top: 10%;
margin-left: 30%;
width: 50%;
}

.loginForm form{
    display: flex;
    flex-direction: column;    
    padding:20px 20px;
    gap: 30px;

}

.loginForm form input {
    margin-top: 3%;
    font-size: large;
    border:none;
    border-bottom:  3px solid #F1FAEE;
    border-radius: 5px;
}

.loginForm button{
    margin-left: 15px;    
}

.loginForm form h1{
    font-weight: 700px;
    text-align: center;
}