body {
font-family: 'Open Sans', sans-serif;;
padding: 0px;
margin:0px
}

/* Split the screen in half */
.mainContainer {
    background-color: white ;
    display: flex;
    min-height: 100vh;
    width:100%;
   }
   /* 
   Control the left side */
   .leftContainer {
    background-color: #1D3557;
    float: left;
    width: 50%;
    height:auto;
   }

   /* Control the right side */
   .rightContainer {
    background-color: white ;
    float: right;
    width: 50%;
    height:auto;
   }
   
/*Logo container banner setup  */
    .logo{
    display:  inline-flex;
    background-color:  #1D3557;
    width: 100%;
    height: 30%;
    }

/*Logo banner setup  */
   .imglogo{
    margin-top: 1.5%;
    height: 90%;
    width: 30%;
    }
/*styling for all buttons*/ 
  .btn {  
    background-color: #457B9D;
    color: white;
    font-size: 16px; 
    height: 60px;
    width: 200px;
    text-decoration: none;
    border-radius: 15px;
    border-style: none;
    cursor: pointer;  
  }
  
  /*styling for all buttons*/ 
  .btn:hover{
    background-color:#E63946 ;
  }


.container {
  background-color: rgba(168, 218, 220,.2);
  width: 100%;
  height: 100vh;
}

