body {
font-family: 'Open Sans', sans-serif;;
padding: 0px;
margin:0px
}

/* Split the screen in half */
.mainContainer {
    background-color: white ;
    display: flex;
    height:100vh;
    
   }
   /* 
   Control the left side */
   .leftContainer {
    background-color: #A8DADC ;
    float: left;
    width: 50%;
    height:auto;
    

   }

   /* Control the right side */
   .rightContainer {
    background-color: #F1FAEE ;
    float: right;
    width: 50%;
    height:auto;
   }

